<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Peão</title>
</head>
<body>
    <h1>Cadastro de Funcionário</h1>

    <h3><a href="/funcionarios">Lista de Funcionarios</a></h3>

    <form method="post">
        Nome: <input type="text" value="" name="nome"/>
        Centro de Custo: <input type="text" value="" name="centroCusto"/>
        Departamento: <input type="text" value="" name="departamento"/>
        Função: <input type="text" value="" name="funcao"/>

        <button type="submit">Salvar</button>

    </form>

</body>
</html>